<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>CartPage</title>
</head>
<body>
	<section>
		<div class="container-fluid mt-5 p-5">
		
		<div class="card card-sh">
			<div class="card-header text-center">
				<p class="fs-4">Cart Page</p>
						
						<th:block th:if="${session.succMsg}">
								<p class="text-success fw-bold">[[${session.succMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>


							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
								<!-- TO remove the message -->
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>

							</th:block>
			
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Sl No</th>
							<th scope="col">Image</th>

							<th scope="col">Product Name</th>
							<th scope="col">Price</th>
							<th scope="col">Quantity</th>
							<th scope="col">Total Price</th>
							


						</tr>
					</thead>
					<tbody>
						<tr th:each="p,c:${products}">
							<th scope="row">[[${c.count}]]</th>
							<td><img th:src="@{'/img/product_img/'+${p.image}}" height="100px" width="100px"></td>
							<td>[[${p.title}]]</td>
							<td>[[${p.category}]]</td>
							<td>[[${p.price}]]</td>
							<td>[[${p.discount}]]%</td>
							<td>[[${p.discountPrice}]]</td>
							<td>[[${p.isActive}]]</td>
							<td>[[${p.stock}]]</td>
								<td><a th:href="@{'/admin/editProduct/'+${p.id}}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
							<a th:href="@{'/admin/deleteProduct/'+${p.id}}" class="btn btn-danger"><i class="fa-solid fa-trash"></i>Delete</a></td>
						</tr>
						

					</tbody>
				</table>

			</div>
		</div>
		</div>
		
	</section>
</body>
</html>